
@import "src/scss/variables.scss";

.navbar-dark .navbar-toggler {
    background: #DCDCDC;
    border-color: gray;
}
//Botones
  .btn {
  position: absolute;
  display: inline-block;
  color:$black;
  font-size: 20px;
  top: 45%;
  left: 10%;
  opacity: 0.6;
  border-radius: 25px;
  padding:20px; 
  font-weight: 600;
  background: $colorText;
  border: none;
}
.btn:hover{
  transition: 1.5s;
  color: $colorText;
  background: $fondoBody;
  opacity: 0.6;
}
#boton2{
  position: absolute;
  display: inline-block;
  color:$black;
  font-size: 20px;
  top: 45%;
  left: 42%;
  opacity: 0.6;
  border-radius: 25px;
  padding:20px; 
  font-weight: 600;
  background: $colorText;
  border: none;
}
#boton2:hover{
  transition: 1.5s;
  color: $colorText;
  background: $fondoBody;
  opacity: 0.6;
}
#boton4{
  position: absolute;
  display: inline-block;
  color:$black;
  font-size: 20px;
  top: 45%;
  left: 55%;
  opacity: 0.6;
  border-radius: 25px;
  padding:16px; 
  font-weight: 600;
  background: transparent;
  border: 2px solid white;
}
#boton4:hover{
  transition: 1.5s;
  color: $colorText;
  background: $colorTitulo;
  opacity: 0.6;
}
#boton3{
  position: absolute;
  display: inline-block;
  color:$black;
  font-size: 20px;
  top: 45%;
  left: 82%;
  opacity: 0.6;
  border-radius: 25px;
  padding:20px; 
  font-weight: 600;
  background: $colorText;
  border: none;
}
#boton3:hover{
  transition: 1.5s;
  color: $colorText;
  background: $fondoBody;
  opacity: 0.6;
}
//Titulos y descripcion
.title-slide{
    position: absolute;
    display: inline-block;
    font-size: 5vw;
    top: 15%;
    left: 10%;
    color:white;
    font-weight: 500;
    opacity: 10;
    overflow: hidden;
}
.title-slide:hover{
    color: black;
    transition: 1.8s;
    cursor: pointer;
}
.subtitle-slide{
    position: absolute;
    display: inline-block;
    font-size: 1.6vw;
    top: 28%;
    left: 10%;
    color:white;
    font-weight: 300;
    width: 65%;
    text-align: justify;

}
.subtitle-slide:hover{
    color: black;
    opacity: 1;
    transition: 1.8s;
    cursor: pointer;
}


.title-slide2{
  position: absolute;
  display: inline-block;
  font-size: 5vw;
  top: 15%;
  left:40% ;
  color:white;
  font-weight: 500;
  opacity: 10;
  overflow: hidden;
}
.title-slide2:hover{
  color: black;
  transition: 1.8s;
  cursor: pointer;
}
.subtitle-slide2{
  position: absolute;
  display: inline-block;
  font-size: 1.6vw;
  top: 28%;
  left: 20%;
  color:white;
  font-weight: 300;
  width: 65%;
  text-align: justify;

}
.subtitle-slide2:hover{
  color: black;
  opacity: 1;
  transition: 1.8s;
  cursor: pointer;
}


.title-slide3{
  position: absolute;
  display: inline-block;
  font-size: 5vw;
  top: 15%;
  left:67% ;
  color:white;
  font-weight: 500;
  opacity: 10;
  overflow: hidden;
}
.title-slide3:hover{
  color: black;
  transition: 1.8s;
  cursor: pointer;
}
.subtitle-slide3{
  position: absolute;
  display: inline-block;
  font-size: 1.6vw;
  top: 28%;
  left: 25%;
  color:white;
  font-weight: 300;
  width: 65%;
  text-align: right;

}
.subtitle-slide3:hover{
  color: black;
  opacity: 1;
  transition: 1.8s;
  cursor: pointer;
}

  #image-box{
  position: relative;
  opacity:0.6;
}
.navbar-dark .navbar-brand {
  color:gray;
  padding-left:45px;
}
.navbar-dark .navbar-brand:hover {
  color:black;
  transition:1.5s;
}
  .navbar{
    border-bottom: 1px solid #DCDCDC;
  }
.navbar-dark .navbar-nav .nav-link {
  padding-top:25px;
    color:gray;
    padding-left: 25px;
   
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:black;
}
  #icons{
    height:30px; 
    width:30px;
    text-align:center;
    padding-top:4px;
    font-size:18px;
    color:gray;
    
  }
  #icons:hover{
    transition:1.5s;
    border-radius:30px;
    border:1px solid black;
    color:black;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 750px;
    object-fit: contain;
}
@media screen and (max-width:1150px){
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
}
//Contenedores
.container-1-all{
  width: 100%;
  padding: 50px;
  display: flex;
}
.container-left{
margin: 25px;
text-align: center;
}
.container-center{

margin: 25px;
text-align: center;
}
.container-rigth{

margin: 25px;
text-align: center;
}
//iconos
.icon{
  width: 60px;
  height: 60px;
  display:block;
  margin:auto;
  margin-top: 25px;
}
#list-item-1{
  margin: 15px;
  text-align: center;
}
.container-2{
  width: 100%;
  min-height: 750px;
  background-image: url('../imagenes/img6.jpg');
  background-size: cover;
  background-position: center;
 opacity: 0.8;
}
.img-responsive{
height: 200px;
width: 200px;
}
#list-item-2{
 text-align: center;

}
.container-3{
  width: 100%;
  display: flex;
}
.text{
  margin: center;
}
.container-left2{
  width: 100%;
  text-align: center;
  background:$contenedores;
  color: $colorText;
  min-height: 400px;
  opacity: 0.6;
  }
  .container-center2{
    width: 100%;
  text-align: center;
  min-height: 400px;
  opacity: 0.6;
  }
  .container-rigth2{
    background:$contenedores;
    color: $colorText;
    width: 100%;
  text-align: center;
  min-height: 400px;
  opacity: 0.6;  
}
.container-4{
  opacity: 0.8;
}
.container-5{
 position: relative;
}
.Formulario{
  position: relative;
  background: transparent;
  top: 60px;
  width: 80%;
  margin: auto;
}
.container{
height:2px ;
}
textarea{
  resize: none;
  background: transparent;
}
footer{

	bottom: 0;
}
.footer-distributed{
	background-color: $fondoBody;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
  width: 100%;
  opacity: 0.8;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: -6px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 .navbar-brand{
  font: normal 36px 'Cookie', cursive; 
 }
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
.form-control {
  background: transparent;
}
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
.boton{
   position: absolute;
    display: inline-block;
    color:white;
    font-size: 20px;
    top: 110%;
    opacity: 0.6;
    width: 100%;
    padding: 20px;
    font-weight: 600;
    background: black;
    border: none;
}
  #Enviar:hover{
    transition:1.5s;
   background: black;
  }
  @media screen and (max-width:800px){
    .container-1-all {
      width: 100%;
      padding: 50px;
      display: block;
   }
   .container-3 {
    width: 100%;
    display: block;
}
.footer-distributed {
  background-color: #282c34;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
  width: 100%;
  opacity: 0.8;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 53px 50px;
  margin-top: -6px;
 
}
.Formulario{
  width: 80%;
  height: 500px;
}
  }
  .boton-compra{
    width: 80%;
  height: 40px;
  background: #dc3545!important;
  border: none;
  margin-top: 25px;
  }
