@import "src/scss/variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
background:$fondoBody;
padding: 25px;

}
//Contenedor Total
.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
//Contenedor Izquierdo
.container{
    width: 100%;
    padding: 40px;
    background:$fondoIniciosesion; 
}
.logo{
    width: 150px;
    display: block;
    margin: auto;
}
.title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300px;
    color:$ColorLabel;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300px;
    color:$colorTitulo;
}
.form-control{
width: 100%;
height: 30px;
background: $fondoTrasnsparente;
border: 0;
outline: 0;
border-bottom: 1.5px solid rgba(0,0,0,0.12);
color: $ColorLabel;
font-size: 16px;
}
//Boton login y registro
.btn{
width: 100%;
height: 50px;
margin-top: 50px;
color: $colorTitulo;
border:0;
background: $fondoBody;
font-weight: 300px;
cursor: pointer;
font-size: 20px;
transition: 1s all ease;
}


.btn:hover{
    background: $fondoHover;
}
.icons{
    display: block;
    text-align: center;
    font-size: 30px;
}
#social-icons{
    color:$colorIconos;
}
.text-down{
    display: block;
    text-align: center;
    color: $colorTitulo;
    font-weight: 500;
}
//Lado izquierdo
.container-left{
    width: 100%;
    background-image:url(../imagenes/Fondo.jpg);
    background-position: center;
    background-size: cover;
    padding: 40px;
    position: relative;
}
.front{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $fondoBody;
    opacity:0.8 ;
}
.title-descripcion{
    position: relative;
    color: $colorText;
    font-weight: 300px;
    font-size: 40px;
    text-align: center;
    
}
.text-container{
    position: relative;
    color:$colorText;
    top: 25px;
   font-size: 18px;
   font-weight: 200;
   
}
//Responsive Login Registro

@media screen and (max-width:600px){
    .container-left{
        display: none;
    }
}

//index
