//Variables colores
$ColorLabel: #252525;
$fondoBody:#282c34;
$fondoHover:#292e26;
$fondoIniciosesion:white;
$colorTitulo:#7a7a7a;
$fondoTrasnsparente:transparent;
$colorText:white;
$colorIconos:#7a7a7a;
$black:black;
$contenedores:gray;
